( unset x; set x=1; test x$x != x1 ) && eval setenv\(\) \{ export \$1=\"\$2\" \;\}
setenv PROJECT_PATH $(git rev-parse --show-toplevel)

source /opt/rh/rh-git227/enable
source /opt/rh/devtoolset-8/enable
source /opt/atomicorp/atomic/enable
setenv LD_LIBRARY_PATH /opt/atomicorp/atomic/root/usr/lib64:$LD_LIBRARY_PATH
setenv PATH /home/neo/.local/bin:/opt/atomicorp/atomic/root/usr/bin:/opt/atomicorp/atomic/root/usr/sbin:/opt/atomicorp/atomic/root/usr/bin:/opt/atomicorp/atomic/root/usr/sbin:/opt/rh/devtoolset-8/root/usr/bin:/opt/rh/rh-git227/root/usr/bin:/opt/atomicorp/atomic/root/usr/bin:/opt/atomicorp/atomic/root/usr/sbin:/opt/rh/devtoolset-8/root/usr/bin:/opt/rh/rh-git227/root/usr/bin:/sbin:/bin:/usr/bin:/usr/local/bin:/usr/local/sbin:/usr/sbin:/home/neo/.local/bin:/home/neo/bin:/home/neo/.local/bin:/home/neo/bin:/home/neo/.local/bin:/home/neo/bin
