[submodule "libs/tlmsoc"]
	path = libs/tlmsoc
	url = https://github.com/Xilinx/libsystemctlm-soc.git
[submodule "scripts/lib"]
	path = scripts/lib
	url = https://github.com/niieani/bash-oo-framework.git
