[submodule "libs/tlmsoc"]
	path = libs/tlmsoc/src
	url = https://github.com/kopinions/libsystemctlm-soc.git
[submodule "scripts/lib"]
	path = scripts/lib
	url = https://github.com/niieani/bash-oo-framework.git
